@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Cookie&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Cookie&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary:rgb(100, 0, 0);
    --postamble-bg: rgba(31,29,29);
    --bg: rgb(237 240 242);
    --content-bg:rgb(252 252 252);

    --body-text:black;
    

    --script-text-color: rgba(255,255,255,1);
    --script-bg-color: rgba(25,25,25,1);

    --scrollbar-bg: rgb(90 90 90);
    --scrollbar-bg-hover: rgb(122 122 122);

    --example-text-color: rgb(32 32 32);

    --table-main-border:rgb(225 228 229);
    --table-body-border: rgb(229, 225, 225);
    --table-body-even-bg-color:rgb(255 255 255);
    --table-body-odd-bg-color:rgb(243 246 246);

    --bloc-text-color: white;

    --attention-warning-bg-color:rgb(255 237 204);
    
    --tip-head-bg-color:rgb(26 188 156);
    --tip-body-bg-color:rgb(219 250 244);

    --info-bg-color: rgb(231 242 250);
    --info-head-bg-color: rgb(106 176 222);

    --attention-warning-head-bg-color:rgb(240 179 126);
    --attention-warning-body-bg-color:rgb(240 179 126);

    --error-danger-head-bg-color:rgb(242 159 151);
    --error-danger-body-bg-color:rgb(242 209 201);

    --link-color: rgb(0, 120, 195);
    --link-hover-color:rgb(0, 157, 255);
    --link-visited-color:rgb(155 89 182);

    --toc-normal-link-color: rgb(180, 180, 180);
    --toc-link-hover-color: white;
    --toc-bg-color:rgb(52 49 49);
    --toc-sub-link-bg-color:rgb(227 227 227);
    --toc-sub-link-text-color:rgb(64 64 64);
    --toc-sub-link-text-selected-color:rgb(201 201 201);
    --toc-color: white;
    --toc-close-button-color: white;

    --postamble-date:rgb(39 174 96);

    --verse-border-color:rgb(106 176 222);
    --verse-bg-color:rgb(231 242 250);

    --quote-bg:rgb(240 240 240);
    --quote-border: rgb(204 204 204);

    --footnote-text-color:rgb(153 153 153);

    --TODO-bg-color:rgb(242 159 151);
    --TODO-text-color:black;

    --done-bg-color:rgb(106 176 151);
    --done-text-color:black;

    --wait-bg-color:rgb(133, 168, 238);
    --wait-text-color:black;

    --spoiler-bg-color:rgb(58 58 58);
    --spoiler-reveal-bg-color:rgb(42 42 42);
    --spoiler-text-color:white;



    --toc-width: max(25vw,300px);
}

/* COLOR */

/* https://htmlcolorcodes.com/hex-to-rgb/ */


h1,h2,h3,h4,h5,h6,legend{
    font-family:"Quantico",sans-serif;
    font-weight:700;
    margin-top:0;
    padding-bottom: 15px;
    padding-top: 15px;
}

h1{
    font-size:175%;
    padding: 5px;
    text-align: left !important;
    margin-bottom: 0.83em !important;
    border: 6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    font-size:95%; /* of h1 */
}

h2{
    font-size:150%;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3{
    font-size:125%;
    padding-bottom: 5px;
    border-bottom: 2px dashed black;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
}

h4{
    font-size:115%;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    border-bottom: 1px solid black;
}

h5{
    font-size:90%;
}

h6{
    font-size:80%;
}

h4,h5,h6{
    /* color:var(--primary); */
    font-weight:300;
}

html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size:100%;
    height:100%;
}

body{
    background:var(--bg);
    color:var(--body-text);
    font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight:normal;
    margin:0;
    min-height:100%;
}

#content{
    background:var(--content-bg);
    margin-left:var(--toc-width);
    /* margin:auto; */
    max-width:8000px;
    min-height:100%;
    padding:1.618em 3.236em;
}

p{
    font-size:16px;
    line-height:24px;
    margin:0px 0px 24px 0px;
}

blockquote{
    background-color: var(--quote-bg);
    border-left:5px solid var(--quote-border);
    font-style:italic;
    line-height:24px;
    margin:0px 0px 24px 0px;
    /* margin-left:24px; */
    padding: 6px 20px;
}

ul,ol,dl{
    line-height:24px;
    list-style-image:none;
    /* list-style:none; */
    margin:0px 0px 24px 0px;
    padding:0;
}

li{
    margin-left: 24px;
}

dd{
    margin:0;
}

#content .section ul,#content .toctree-wrapper ul,article ul{
    list-style:disc;
    line-height:24px;
    margin-bottom:24px}

#content .section ul li,#content .toctree-wrapper ul li,article ul li{
    list-style:disc;
    margin-left:24px}

#content .section ul li p:last-child,#content .toctree-wrapper ul li p:last-child,article ul li p:last-child{
    margin-bottom:0}

#content .section ul li ul,#content .toctree-wrapper ul li ul,article ul li ul{
    margin-bottom:0}

#content .section ul li li,#content .toctree-wrapper ul li li,article ul li li{
    list-style:circle}

#content .section ul li li li,#content .toctree-wrapper ul li li li,article ul li li li{
    list-style:square}

#content .section ul li ol li,#content .toctree-wrapper ul li ol li,article ul li ol li{
    list-style:decimal}

#content .section ol,#content ol,article ol{
    list-style:decimal;
    line-height:24px;
    margin-bottom:24px}

#content .section ol li,#content ol li,article ol li{
    list-style:decimal;
    margin-left:24px}

#content .section ol li p:last-child,#content ol li p:last-child,article ol li p:last-child{
margin-bottom:0}

#content .section ol li ul,#content ol li ul,article ol li ul{
    margin-bottom:0}

#content .section ol li ul li,#content ol li ul li,article ol li ul li{
    list-style:disc}

dl dt{
    font-weight:bold;
}

dl p,dl table,dl ul,dl ol{
    margin-bottom:12px !important;
}

dl dd{
    margin:0 0 12px 24px;
}


@media screen and (max-width: 768px){
    .tablet-hide{
        display:none}
}

@media screen and (max-width: 480px){
    .mobile-hide{
        display:none}
}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 768px){
    #content{
        margin-left:0}

    #content #content{
        padding:1.618em}

    #content.shift{
        position:fixed;
        min-width:100%;
        left:85%;
        top:0;
        height:100%;
        overflow:hidden}
}

@media screen and (min-width: 1400px){
    #content{
        background:var(--content-bg)}
}

@media screen and (max-width: 768px){
    #copyright{
        width:85%;
        display:none}

    #copyright.shift{
        display:block}

    img{
        width:100%;
        height:auto}
}

@media screen and (max-width: 480px){
    #content .sidebar{
        width:100%}
}

code{
    /* color:#000;  for clickable code */
    font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size:100%;
    max-width:100%;
    overflow-x:auto;
    padding:0 5px;
    white-space:nowrap;
}

.codeblock-example{
    border:1px solid var(--table-body-border);
    border-bottom:none;
    padding:24px;
    padding-top:48px;
    font-weight:500;
    background:#fff;
    position:relative}

.codeblock-example:after{
    content:"Example";
    position:absolute;
    top:0px;
    left:0px;
    background:#9B59B6;
    color:#fff;
    padding:6px 12px}

.codeblock-example.prettyprint-example-only{
    border:1px solid var(--table-body-border);
    margin-bottom:24px}

    /* chnager code/programme */
.codeblock,pre.src,#content .literal-block{
    border:3px solid var(--primary);
    border-radius: 5px;
    padding:12px;
    overflow-x:auto;
    color: var(--script-text-color);/* Couleur des variables et noms des scripts*/
    background:var(--script-bg-color);/* Le bg */
    margin:1px 0 0px 0;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

pre.src::-webkit-scrollbar {
  height: 8px;
}

pre.src::-webkit-scrollbar-track {
  background: transparent;
}

pre.src::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 20px;
}

pre.src::-webkit-scrollbar-thumb:hover {
  /* background: #7a7a7a; */
  background: var(--scrollbar-bg-hover);
}

pre.src{
    /* color:#404040; */
    display:block;
    font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size:12px;
    line-height:1.5;
    margin:1px 0px 24px 0px;
    overflow:auto;
    padding:12px;
    white-space:pre;
}

pre, code {
    white-space: pre-wrap;
    /* word-wrap: break-word; */
}

/* Pour l'exemple / input */
.example{
    background:#f3f6f6;
    border:2px solid var(--primary);
    border-radius: 5px;
    color:var(--example-text-color); /* couleur du texte */ 
    font-size: 12px;
    line-height: 1.5;
    margin-bottom:24px;
    padding:12px;
    overflow: auto;
}

table{
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
    margin-bottom:24px;
    border:1px solid var(--table-main-border);
    max-width: 100%;
    width: 100%;
}

td{
    vertical-align:top}

table td,table th{
    font-size:90%;
    margin:0;
    overflow:visible;
    padding:8px 16px;
    background-color:var(--table-head-bg);
    border:1px solid var(--table-body-border);
}

table thead th{
    font-weight:bold;
    border-top:3px solid var(--table-body-border);
    border-bottom:1px solid var(--table-body-border);
}

table caption{
    color:#000;
    font:italic 85%/1 arial,sans-serif;
    padding:1em 0;
}

table tr:nth-child(2n-1) td{
    background-color:var(--table-body-odd-bg-color);
}

table tr:nth-child(2n) td{
    background-color:var(--table-body-even-bg-color);
}

.figure p{
    color:#000; /*JSPCOL*/ /* JSP ce que c'est */
    font:italic 85%/1 arial,sans-serif;
    padding:1em 0;
}

.rotate-90{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}

.rotate-270{
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    transform:rotate(270deg);
}

#toggle-sidebar,
#table-of-contents .close-sidebar {
    display: none;
}

@media screen and (max-width: 768px) {
    #table-of-contents {
        display: none;
        width: 60%;
    }

    #table-of-contents h2 a {
        display: block;
        color: var(--toc-color);
    }

    #table-of-contents:target {
        display: block;
    }

    #copyright, #postamble {
        display: none;
    }

    #toggle-sidebar {
        display: block;
        margin-bottom: 1.6em;
        padding: 0.6em;
        text-align: center;
    }

    #toggle-sidebar h2 {
        background-color:var(--primary);
        width:100%;
        height:50px;
        left:0;
        top:0;
        color: var(--toc-color);
        font-size: 100%;
        line-height: 50px;
        position:fixed;
        margin: 0;
        padding: 0;
        opacity:0.7;
        z-index: 10;
    }

    #table-of-contents .close-sidebar {
       color: var(--toc-close-button-color);
       display: flex;
       margin: 0px 10px 0px 45px;
       padding: 10px;
    }
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

figcaption,figure,footer,header,hgroup,nav{
    display:block}

ins{
    background:#ff9; /*JSPCOL*/
    color:#000;
    text-decoration:none}

mark{
    background:#ff0; /*JSPCOL*/
    color:#000;
    font-style:italic;
    font-weight:bold}

small{
    font-size:85%}

sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline}

sup{
    top:-0.5em}

sub{
    bottom:-0.25em}

img{
    -ms-interpolation-mode:bicubic;
    vertical-align:middle;
    max-width:100%}

svg:not(:root){
    overflow:hidden}

figure{
    margin:0}

label{
    cursor:pointer}

legend{
    border:0;
    margin-left:-7px;
    padding:0;
    white-space:normal}

.fa:before,#content .admonition-title:before,#content h1 .headerlink:before,#content h2 .headerlink:before,#content h3 .headerlink:before,#content h4 .headerlink:before,#content h5 .headerlink:before,#content h6 .headerlink:before,#content dl dt .headerlink:before,.icon:before,.wy-dropdown .caret:before,.wy-inline-validate.wy-inline-validate-success .wy-input-context:before,.wy-inline-validate.wy-inline-validate-danger .wy-input-context:before,.wy-inline-validate.wy-inline-validate-warning .wy-input-context:before,.wy-inline-validate.wy-inline-validate-info .wy-input-context:before,.wy-alert,#content .note,#content .attention,#content .caution,#content .danger,#content .error,#content .hint,#content .important,#content .tip,#content .warning,#content .seealso,#content .admonitiontodo,.btn,input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="date"],input[type="month"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="week"],input[type="number"],input[type="search"],input[type="tel"],input[type="color"],select,textarea,#table-of-contents li.on a,#table-of-contents li.current>a,.wy-side-nav-search>a,.wy-side-nav-search .wy-dropdown>a,.wy-nav-top a{
    -webkit-font-smoothing:antialiased}

/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{
    font-family:'FontAwesome';
    src:url("../fonts/fontawesome-webfont.eot?v=4.1.0");
    src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
    font-weight:normal;
    font-style:normal}

.fa,#content .admonition-title,.icon{
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale}

.fa-ul{
    padding-left:0;
    margin-left:2.14286em;
    list-style-type:none}

.fa-ul>li{
    position:relative}

.fa-li{
    position:absolute;
    left:-2.14286em;
    width:2.14286em;
    top:0.14286em;
    text-align:center}

.fa-li.fa-lg{
    left:-1.85714em}

.fa-border{
    padding:.2em .25em .15em;
    border:solid 0.08em #eee; /*JSPCOL*/
    border-radius:.1em}

.fa,#content .admonition-title{
    font-family:inherit}

.fa:before,#content .admonition-title:before{
    font-family:"FontAwesome";
    display:inline-block;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    text-decoration:inherit}

a .fa,a #content .admonition-title,#content a .admonition-title{
    display:inline-block;
    text-decoration:inherit}

.nav #content .admonition-title,#content .nav .admonition-title,.nav .icon{
    display:inline}

.wy-alert-title,#content .admonition-title{
    color:var(--bloc-text-color);
    font-weight:bold;
    display:block;
    /* background:#6ab0de; */
    /* margin:-12px; */
    padding:6px 12px;
    margin-bottom:0px}

.admonition-title + div{
    padding: 12px;
    margin-bottom: 24px;
}

.admonition-title + div > p{
    margin: 0;
}

.wy-alert.wy-alert-warning,#content .wy-alert-warning.note, #content .attention,#content .caution, #content .warning, #content .admonitiontodo, .attention + div, .caution + div, .warning + div, #content .wy-alert-warning.danger,#content .wy-alert-warning.error, #content .wy-alert-warning.hint,#content .wy-alert-warning.important,#content .wy-alert-warning.tip,#content .wy-alert-warning.seealso{
    background: var(--attention-warning-bg-color)}

#content .admonition-title.note:before, #content .admonition-title.seealso:before,
#content .admonition-title.warning:before, #content .admonition-title.caution:before,
#content .admonition-title.attention:before,
#content .admonition-title.tip:before, #content .admonition-title.hint:before,
#content .admonition-title.important:before,
#content .admonition-title.error:before, #content .admonition-title.danger:before{
    font-family:FontAwesome;
    content: "";} /* Le petit i circulaire au début des blocs */

.seealso + div, .note + div, #content .note,#content .seealso{
    background:var(--info-bg-color);
}

#content .admonition-title.tip,#content .admonition-title.important,#content .admonition-title.hint{
    line-height: 1;
    background:var(--tip-head-bg-color)}

.important + div, .tip + div, .hint + div, #content .important, #content .tip, #content .hint{
    background:var(--tip-body-bg-color)}

#content .admonition-title.note,#content .admonition-title.seealso{
    line-height: 1;
    background:var(--info-head-bg-color)}

#content .admonition-title.warning,#content .admonition-title.caution,#content .admonition-title.attention{
    line-height: 1;
    background:var(--attention-warning-head-bg-color)}

#content .admonition-title.error,#content .admonition-title.danger{
    line-height: 1;
    background:var(--error-danger-head-bg-color)}

#content .error,#content .danger{
    line-height: 1;
    background:var(--error-danger-body-bg-color)}

legend{
    display:block;
    width:100%;
    border:0;
    padding:0;
    white-space:normal;
    margin-bottom:24px;
    font-size:150%;
    margin-left:-7px}

label{
    display:block;
    margin:0 0 0.3125em 0;
    color:#333; /*JSPCOL*/
    font-size:90%}

a{
    color:var(--link-color);
    text-decoration:underline;
    cursor:pointer}


a:hover,a:active{
    outline:0;
}

a:hover{
    color:var(--link-hover-color)}

a:visited{
    color: var(--link-visited-color)}

.left{
    text-align:left}

.org-center , center{
    text-align:center;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.right{
    text-align:right}

hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid var(--table-body-border);
    margin:24px 0;
    padding:0}

#table-of-contents li{
    list-style:none;
    margin-left:0;
}

#table-of-contents header{
    height:32px;
    display:inline-block;
    line-height:32px;
    padding:0 1.618em;
    display:block;
    font-weight:bold;
    text-transform:uppercase;
    font-size:80%;
    color:var(--primary);
    white-space:nowrap}

#table-of-contents ul{
    margin-bottom:0}

#table-of-contents li.divide-top{
    border-top:solid 1px #404040} /*JSPCOL*/

#table-of-contents li.divide-bottom{
    border-bottom:solid 1px #404040} /*JSPCOL*/

#table-of-contents li.current{
    background:#e3e3e3; /* JSPCOL */
}

#table-of-contents li.current a{
    color:gray; /* JSPCOL */
    /* border-right:solid 1px #c9c9c9; */
    padding:0.4045em 2.427em}

#table-of-contents li.current a:hover{
    background:#d6d6d6} /* JSPCOL */

#table-of-contents li a{
    color:var(--toc-normal-link-color);
    padding:0.4045em 1.618em;
    position:relative;
    /* background:var(--content-bg); */
    border:none;
    /* border-bottom:solid 1px #c9c9c9; */
    /* border-top:solid 1px #c9c9c9; */
    padding-left:1.618em -4px}

#table-of-contents li.on a:hover,#table-of-contents li.current>a:hover{
    background:var(--content-bg)}

#table-of-contents li ul li a{
    /* background:#c9c9c9; */
    padding:0.4045em 2.427em}

#table-of-contents li ul li ul li a{
    padding:0.4045em 3.236em}

#table-of-contents li.current ul{
    display:block}

/* #table-of-contents li ul{ */
/*     margin-bottom:0; */
/*     display:none} */

#table-of-contents .local-toc li ul{
    display:block}

#table-of-contents li ul li a{
    margin-bottom:0;
    font-weight:normal}

#table-of-contents a{
    margin: 0;
    display:inline-block;
    line-height:18px;
    padding:0.4045em 1.618em;
    display:block;
    position:relative;
    font-size:90%;
    direction: ltr;
    transition: 0s;
    text-decoration: none;
}

#table-of-contents a:hover{
    color: var(--toc-link-hover-color) !important;
    background-color:#4e4a4a;
    cursor:pointer}

/* #text-table-of-contents { */
/*     overflow:scroll; */
/* } */

#table-of-contents{
    position:fixed;
    top:8%;
    left:0;
    width:var(--toc-width);
    overflow-x:hidden;
    overflow-y:scroll;
    height:90%;
    background:var(--toc-bg-color);
    z-index:200;
    padding-top: 1%;
}

#table-of-contents::-webkit-scrollbar {
  width: 8px;
}

#table-of-contents::-webkit-scrollbar-track {
  background: transparent;
}

#table-of-contents::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 3px;
}

#table-of-contents::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-bg-hover);
}

#table-of-contents h2{
    position: fixed;
    top: 0;
    left: 0;
    z-index:200;
    height: 8%;
    background-color:var(--primary);
    text-align:center;
    padding:0.809em;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    color:var(--content-bg);
    font-size: 100%;
    margin-bottom:0.809em;
    overflow: visible;
    width: var(--toc-width);
    margin-top: 0;
}

ul.nav > li ul {
    display: none;
}

li.active {
    background-color: var(--toc-sub-link-bg-color);
}

ul.nav>li.active a {
    color: var(--toc-sub-link-text-color) !important;
}

ul.nav>li.active li.active {/*Pour table-of-contents !!!!*/
    background-color: var(--toc-sub-link-text-selected-color);
    
}

ul.nav>li.active li.active>a {
    color: black !important;
    font-weight: bold !important;
    display: block !important;
    background: var(--toc-sub-link-text-selected-color);
}

ul.nav>li.active>a {
    background-color: var(--content-bg);
    color: black !important;
    font-weight: bold !important;
    display: block !important;
    background: var(--toc-sub-link-text-selected-color);
}

li.active>ul {
    display: inline !important;
    background: var(--toc-sub-link-text-selected-color);
}
/* ul.nav li ul li { */
/*     display: none; */
/* } */

/* ul.nav li ul li ul li { */
/*     display: none; */
/* } */

/* ul.nav li.active ul li { */
/*     display: inline; */
/* } */

/* ul.nav li.active ul li ul li { */
/*     display: inline; */
/* } */

/* ul.nav li.active ul li a { */
/*     background-color: #E3E3E3; */
/*     color: #8099B0; */
/*     border-right:solid 1px #c9c9c9 !important; */
/* } */

/* ul.nav li.active ul li.active a { */
/*     background-color: #C9C9C9; */
/*     color: black !important; */
/*     font-weight: bold !important; */
/* } */

/* ul.nav li.active ul li.active ul li.active a { */
    /* color: black !important; */
    /* font-weight: bold !important; */
    /* display: block !important; */
/* } */

/* ul.nav li.active ul li.active ul li a { */
/*     color: #808080 !important; */
/*     font-weight: normal !important; */
/*     display: block !important; */
/* } */

/* ul.nav li.active ul li ul li a { */
/*     display: none !important; */
/* } */

/* ul.nav li ul li ul li { */
/*     display: none !important; /\* as long as nav is on multiple levels of ul *\/ */
/*     /\* display: none; /\* as long as nav is on multiple levels of ul *\\/ *\/ */
/* } */

/* ul.nav li ul li ul li ul li { */
/*     display: none !important; /\* as long as nav is on multiple levels of ul *\/ */
/*     /\* display: none; /\* as long as nav is on multiple levels of ul *\\/ *\/ */
/* } */

/* ul.nav li.active > a { */
    /* border-bottom:solid 1px #c9c9c9 !important; /\* XXX Restrict it to 2nd level *\/ */
    /* border-right:solid 1px #c9c9c9 !important; */
/* } */

/* ul.nav li.active a { */
/*     color: gray !important; */
/*     font-weight:bold; */
/*     background-color: white; */
/*     border-right:solid 0px white !important; */
/* } */

/* ul.nav > li.active > a { */
/*     color: black !important; */
/* } */

#copyright, #postamble{
    position:fixed;
    bottom:0;
    left:0;
    width:var(--toc-width);
    color:var(--content-bg);
    background:var(--postamble-bg);
    font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-size: 90%;
    z-index:400;
    padding:12px;
    padding-bottom: 16px;
}

#postamble .author {
    font-size: 100%;
    margin-bottom: 0px;
    font-weight: 500;
}

#postamble .date {
    font-size: 80%;
    margin-bottom: 0%;
    color: var(--postamble-date);
}

#postamble .creator,#postamble .validation {
    display:none;
}

#copyright a{
    color:var(--primary);
    text-decoration:none}

#copyright .rst-current-version{
    padding:12px;
    background-color:red; /*JSPCOL*/
    display:block;
    text-align:right;
    font-size:90%;
    cursor:pointer;
    color:var(--postamble-date);
    zoom:1}

#content img{
    max-height:90vh;
    border-radius:5px;
    display: grid;
    place-items: center;
}

#content .figure {
    max-height:90vh;
    display: grid;
    place-items: center;    
}
#content .figure p {
    margin: 0;
    line-height: 0;
}

#content div.figure{
    margin-bottom:24px}

#content div.figure.align-center{
    text-align:center}

#content .section>img,#content .section>a>img{
    margin-bottom:24px}

.verse{
    border-left:5px solid var(--verse-border-color);
    background-color: var(--verse-bg-color);
    padding: 6px 20px;
    font-style:italic;
}

#content .note .last,#content .attention .last,#content .caution .last,#content .danger .last,#content .error .last,#content .hint .last,#content .important .last,#content .tip .last,#content .warning .last,#content .seealso .last,#content .admonitiontodo .last{
    margin-bottom:0}

#content .admonition-title:before{
    margin-right:4px}

#content .section ol p,#content .section ul p{
    margin-bottom:12px}

#content h1 .headerlink,#content h2 .headerlink,#content h3 .headerlink,#content h4 .headerlink,#content h5 .headerlink,#content h6 .headerlink,#content dl dt .headerlink{
    display:none;
    visibility:hidden;
    font-size:14px}

#content h1 .headerlink:after,#content h2 .headerlink:after,#content h3 .headerlink:after,#content h4 .headerlink:after,#content h5 .headerlink:after,#content h6 .headerlink:after,#content dl dt .headerlink:after{
    visibility:visible;
    content:"";
    font-family:FontAwesome;
    display:inline-block}

#content h1:hover .headerlink,#content h2:hover .headerlink,#content h3:hover .headerlink,#content h4:hover .headerlink,#content h5:hover .headerlink,#content h6:hover .headerlink,#content dl dt:hover .headerlink{
    display:inline-block}

#content .sidebar{
    float:right;
    width:40%;
    display:block;
    margin:0 0 24px 24px;
    padding:24px;
    background:#f3f6f6; /*JSPCOL*/
    border:solid 1px var(--table-body-border)}

#content .sidebar p,#content .sidebar ul,#content .sidebar dl{
    font-size:90%}

#content .sidebar .last{
    margin-bottom:0}

#content .sidebar .sidebar-title{
    display:block;
    font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight:bold;
    background:var(--table-body-border);
    padding:6px 12px;
    margin:-24px;
    margin-bottom:24px;
    font-size:100%}

#content .highlighted{
    background:#F1C40F; /*JSPCOL*/
    display:inline-block;
    font-weight:bold;
    padding:0 6px}

#content .footnote-reference,#content .citation-reference{
    vertical-align:super;
    font-size:90%}

span[id*='MathJax-Span']{
    color:#404040}

.math{
    text-align:center}

#footnotes{
    border-top:1px solid var(--table-body-border);
    padding-top: 26px;
}

h2.footnotes{
    display:none;
}

.footnum, .footref{
    color: var(--link-color);
    font-size: 90%;
    font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}
.footnum {
    font-size: 100%;
}

.footnum:before, .footref:before{
    content:"[";
}

.footnum:after, .footref:after{
    content:"]";
}

.footpara {
    color: var(--footnote-text-color);
    font-size: 90%;
    font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1em;
    /* display: inline; */
}

.todo{
    background-color: var(--TODO-bg-color);
    padding: 0px 4px;
    color: var(--TODO-text-color);
}

.WAIT, .nilWAIT{
    background-color: var(--wait-bg-color);
    padding: 0px 4px;
    color: var(--wait-text-color); /*JSPCOL*/
}

.done{
    background-color: var(--done-bg-color);
    color: var(--done-text-color);
    padding: 0px 4px;
}

.spoiler {
    width: 100%;
  position: relative;
  display: inline-block;
  background: var(--spoiler-bg-color);
  color: transparent;
  border-radius: 5px;
  padding: 0.4em 0.8em;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.spoiler::selection {
  background: transparent;
}

.spoiler::before {
  content: "Spoiler";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--spoiler-text-color);
  font-size: 1em;
  pointer-events: none;
  transform: translateY(-0.6em);
}
.spoiler::after {
  content: "Hover to reveal";
  transform: translateY(0.6em);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--spoiler-text-color);
  font-size: 0.8em;
  pointer-events: none;
}

.spoiler:hover {
  color: var(--spoiler-text-color);
  background: var(--spoiler-reveal-bg-color);
}

.spoiler:hover::before, .spoiler:hover::after {
  opacity: 0;
}

.tag span {
    background-color: #EDEDED; /*JSPCOL*/
    border: 1px solid #EDEDED; /*JSPCOL*/
    color: #939393; /*JSPCOL*/
    cursor: pointer;
    display: block;
    float: right;
    font-size: 80%;
    font-weight: normal;
    margin: 0 3px;
    padding: 1px 2px;
    border-radius: 5px;
}

.tag .FLAGGED {
    background-color: #DB2D27; /*JSPCOL*/
    border: 1px solid #DB2D27; /*JSPCOL*/
    color: white; /*JSPCOL*/
    font-weight: bold;
}

.timestamp {
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size: 90%;
    color: navy; /*JSPCOL*/
}

.nav .timestamp {
    color: inherit;
}

.inlinetask {
    background: #FFF9E3;  /* url(dialog-todo.png) no-repeat 10px 8px; */ /*JSPCOL*/
    border: 3px solid #FFEB8E; /*JSPCOL*/
    /* border-right-style: none; */
    /* border-left-style: none; */
    /* padding: 10px 20px 10px 60px; */
    padding: 9px 12px;
    margin-bottom: 24px;
    font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif}

#org-div-home-and-up { 
    text-align: right;
    padding-right: 10pt;
}

.underline {
  text-decoration:underline
}

.off code, .on code, .trans code {
    display: none;
}

.off::before {
    content: "🗙";
    font-size: 16px;
    color: red;
    font-weight: 1000;
}
.on::before {
    content: "✓";
    font-size: 20px;
    color: green;
    font-weight: 1000;
}
.trans::before {
    content: "—";
    font-size: 16px;
    font-weight: 1000;
    color: black;
}


/* SRC language */

pre.src:before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    left: -12px;
    background-color: color-mix(in srgb, var(--primary) 30%, transparent); /* pour avoir transparence pour variable */
    border-bottom: 3px solid var(--primary);
    color: white;
    font-size: 14px;    
    height: 25px;
    padding: 6px;
    margin-left: -12px;/* le 12 vient du padding de pre.src mis auparavant */
    margin-right: -12px;
    margin-bottom: 12px;
    margin-top: -12px;
    right: 0;
    width: calc(100% + 11.6px); /* jsp */
    font-weight: 500;
    z-index: 10;
}
/* Languages per Org manual */
pre.src-asymptote:before { content: 'Asymptote'; }
pre.src-awk:before { content: 'Awk'; }
pre.src-C:before { content: 'C'; }
pre.src-clojure:before { content: 'Clojure'; }
pre.src-css:before { content: 'CSS'; }
pre.src-D:before { content: 'D'; }
pre.src-ditaa:before { content: 'ditaa'; }
pre.src-dot:before { content: 'Graphviz'; }
pre.src-calc:before { content: 'Emacs Calc'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-fortran:before { content: 'Fortran'; }
pre.src-gnuplot:before { content: 'gnuplot'; }
pre.src-haskell:before { content: 'Haskell'; }
pre.src-hledger:before { content: 'hledger'; }
pre.src-java:before { content: 'Java'; }
pre.src-js:before { content: 'Javascript'; }
pre.src-latex:before { content: 'LaTeX'; }
pre.src-ledger:before { content: 'Ledger'; }
pre.src-lisp:before { content: 'Lisp'; }
pre.src-lilypond:before { content: 'Lilypond'; }
pre.src-lua:before { content: 'Lua'; }
pre.src-matlab:before { content: 'MATLAB'; }
pre.src-mscgen:before { content: 'Mscgen'; }
pre.src-ocaml:before { content: 'Objective Caml'; }
pre.src-octave:before { content: 'Octave'; }
pre.src-org:before { content: 'Org mode'; }
pre.src-oz:before { content: 'OZ'; }
pre.src-plantuml:before { content: 'Plantuml'; }
pre.src-processing:before { content: 'Processing.js'; }
pre.src-python:before { content: 'Python'; }
pre.src-R:before { content: 'R'; }
pre.src-ruby:before { content: 'Ruby'; }
pre.src-sass:before { content: 'Sass'; }
pre.src-scheme:before { content: 'Scheme'; }
pre.src-screen:before { content: 'Gnu Screen'; }
pre.src-sed:before { content: 'Sed'; }
pre.src-sh:before { content: 'shell'; }
pre.src-sql:before { content: 'SQL'; }
pre.src-sqlite:before { content: 'SQLite'; }
/* additional languages in org.el's org-babel-load-languages alist */
pre.src-forth:before { content: 'Forth'; }
pre.src-io:before { content: 'IO'; }
pre.src-J:before { content: 'J'; }
pre.src-makefile:before { content: 'Makefile'; }
pre.src-maxima:before { content: 'Maxima'; }
pre.src-perl:before { content: 'Perl'; }
pre.src-picolisp:before { content: 'Pico Lisp'; }
pre.src-scala:before { content: 'Scala'; }
pre.src-shell:before { content: 'Shell Script'; }
pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
/* additional language identifiers per "defun org-babel-execute"
    in ob-*.el */
pre.src-cpp:before  { content: 'C++'; }
pre.src-abc:before  { content: 'ABC'; }
pre.src-coq:before  { content: 'Coq'; }
pre.src-groovy:before  { content: 'Groovy'; }
/* additional language identifiers from org-babel-shell-names in
    ob-shell.el: ob-shell is the only babel language using a lambda to put
    the execution function name together. */
pre.src-bash:before  { content: 'bash'; }
pre.src-csh:before  { content: 'csh'; }
pre.src-ash:before  { content: 'ash'; }
pre.src-dash:before  { content: 'dash'; }
pre.src-ksh:before  { content: 'ksh'; }
pre.src-mksh:before  { content: 'mksh'; }
pre.src-posh:before  { content: 'posh'; }
/* Additional Emacs modes also supported by the LaTeX listings package */
pre.src-ada:before { content: 'Ada'; }
pre.src-asm:before { content: 'Assembler'; }
pre.src-caml:before { content: 'Caml'; }
pre.src-delphi:before { content: 'Delphi'; }
pre.src-html:before { content: 'HTML'; }
pre.src-idl:before { content: 'IDL'; }
pre.src-mercury:before { content: 'Mercury'; }
pre.src-metapost:before { content: 'MetaPost'; }
pre.src-modula-2:before { content: 'Modula-2'; }
pre.src-pascal:before { content: 'Pascal'; }
pre.src-ps:before { content: 'PostScript'; }
pre.src-prolog:before { content: 'Prolog'; }
pre.src-simula:before { content: 'Simula'; }
pre.src-tcl:before { content: 'tcl'; }
pre.src-tex:before { content: 'TeX'; }
pre.src-plain-tex:before { content: 'Plain TeX'; }
pre.src-verilog:before { content: 'Verilog'; }
pre.src-vhdl:before { content: 'VHDL'; }
pre.src-xml:before { content: 'XML'; }
pre.src-nxml:before { content: 'XML'; }
/* add a generic configuration mode; LaTeX export needs an additional
    (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
pre.src-conf:before { content: 'Configuration File'; }